
.wrapper{
              display:grid;
              grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
              min-height:100vh;
              background: black;

            }

            main {
              grid-column:1/7;
              grid-row:2/5;
              background: url('./images/Moon.jpg') no-repeat top;
              background-size: cover;
              padding: 5em 0 10em;
              overflow: hidden;
            }
          h1 {  margin: 0;
                font-size: 4rem;
                mix-blend-mode: hard-light;
                background-color:#332f2f;
                color: #848383;
                border-width: 0.1em 0;
                text-align: center;
            }

         
        

          
    @media  only screen and  (max-width: 667px){
      main {
        padding: 10em 0 10em;
      }
    }
     
